.newsletter {
  margin: 5rem 0 0 0;
  padding: 4.063rem 3rem;
  background-color: var(--color-secondary);
  background-image: url("/bg-newsletter.svg");
  background-repeat: no-repeat;
  background-position: top right;
  display: flex;
  align-items: center;
  gap: 2.563rem;

  .headline,
  .formWrapper {
    width: 50%;
  }

  .headline {
    display: flex;
    flex-direction: column;

    h2,
    p {
      letter-spacing: -0.016rem;
    }

    h2 {
      color: var(--color-senary);
      font-size: 2rem;
      line-height: 2.625rem;
      font-weight: 700;
    }

    p {
      margin: 0.5rem 0 0 0;
      color: var(--color-septenary);
      font-size: 1.125rem;
      line-height: 1.688rem;
    }
  }

  .formWrapper {
    form {
      display: flex;
      gap: 0.5rem;

      input,
      button {
        height: 3rem;
        border-radius: 0.125rem;
        font-size: 1rem;
        line-height: 1.5rem;
        letter-spacing: -0.016rem;
      }

      input {
        width: 20rem;
        padding: 0 1rem;
        background-color: var(--color-octonary);
        border: solid 1px var(--color-nonary);
        color: var(--color-decenary);

        &::placeholder {
          color: var(--color-decenary);
        }
      }

      button {
        width: 8.688rem;
        background-color: var(--color-undecenary);
        border: solid 1px var(--color-undecenary);
        color: var(--color-secondary);
        font-weight: 500;
        cursor: pointer;
        transition: all 0.3s ease-in-out;

        &:hover {
          background-color: var(--color-quinary);
          border: solid 1px var(--color-quinary);
          color: var(--color-senary);
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .newsletter {
    padding: 1.6rem 1rem;
    flex-direction: column;
    align-items: flex-start;

    .headline,
    .formWrapper {
      width: 100%;
    }

    .formWrapper {
      form {
        width: 100%;
        flex-direction: column;

        input,
        button {
          width: 100%;
        }
      }
    }
  }
}
