:root {
  --color-primary: #151719;
  --color-secondary: #5d5dff;
  --color-tertiary: #d9e3ea;
  --color-quaternary: #9ba9b4;
  --color-quinary: #33363a;
  --color-senary: #fff;
  --color-septenary: #e2e1ff;
  --color-octonary: #4b4acf;
  --color-nonary: #8d8dff;
  --color-decenary: #ababff;
  --color-undecenary: #f4f4ff;
  --color-duodecenary: #c6f6d5;
  --color-tredecenary: #36a269;
  --color-quattuordecenary: #e53d3e;
  --color-quindecenary: #707d86;
}
